a{
    color: #555 !important;    
}
a:hover{
    color:red !important ;
    text-decoration: none !important ;
}
li{
    list-style: none !important;
}

ul{
    margin: 0 !important;
}
.back{
    background: #f9f9f9;
}